/*.button-group {
    width: 60%;
    margin: 0 auto;
    border: 2px solid #007bff;
    padding: 10px;*/
    /*margin: 10px 10px 5px 10px;*/
    /*border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;*/ /* パディングと枠線を幅に含める */
/*}

button {
    background-color: #007bff;
    color: white;
    padding: 0.4em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}*/
#addDiceButton {
    width: 20vw; /*ボタンの幅*/
    height: 8vh; /*ボタンの高さ */
    font-size: 5vh; /* アイコンのサイズ */
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
    position: fixed; /* ボタンを画面に固定 */
    top: 1vh; /* 画面の上端からの距離 */
    right: 3vw; /* 画面の右端からの距離 */
    touch-action: manipulation;
        z-index: 1000; /* 他の要素より前面に表示 */
}

#rollAllDiceButton {
    background-image: url('./images/rollDice.svg');
    background-size: contain;
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat;
    width: 20vw; /*ボタンの幅*/
    height: 8vh; /*ボタンの高さ */
    font-size: 5vh; /* アイコンのサイズ */
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: fixed; /* ボタンを画面に固定 */
    top: 1vh; /* 画面の上端からの距離 */
    left: 3vw; /* 画面の右端からの距離 */
    touch-action: manipulation;
        z-index: 1000; /* 他の要素より前面に表示 */

}
#editDiceFace {
    width: 20vw; /*ボタンの幅*/
    height: 8vh; /*ボタンの高さ */
    font-size: 5vh; /* アイコンのサイズ */
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
    position: fixed; /* ボタンを画面に固定 */
    top: 1vh; /* 画面の上端からの距離 */
    left: 25vw; /* 画面の右端からの距離 */
    touch-action: manipulation;
        z-index: 1000; /* 他の要素より前面に表示 */

}
#diceContainer {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap; /* 複数行に折り返す */
    flex-direction: row; /* 横方向に要素を並べる */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    width: 90%; /* コンテナの幅を全体に */
    gap: 10vw;
    -webkit-perspective: 50000px;
    perspective: 50000px;
    -webkit-transform: translate(5vw) rotateX(-8deg) rotateY(-10deg); /* 視点のコンテナを斜めに回転させる */
    transform: translate(5vw) rotateX(-8deg) rotateY(-10deg); /* 視点のコンテナを斜めに回転させる */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.dice-history {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1.5rem; /* 1remの文字サイズに適した行間隔 */
}

/* 履歴のテキストコンテンツをラップする要素（例えば<div class="content">） */
.dice-history .content {
    padding: 1rem;
    height: calc(5vh - 2rem); /* 外側のpaddingを除いた高さ */
    overflow-y: auto;
}

.dice {
    flex: 1 1 auto; /* サイズに応じて自動調整 */
    box-sizing: border-box;
    /*flex-grow: 1;*/
    min-width: 10vw;
    max-width: 50vw;
    aspect-ratio: 1;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    user-select: none;
    -webkit-user-select: none; /* iOS Safari用のプレフィックス */
    /*margin: calc(var(--dice-size)*0.1);*/
}

.dice-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border: 1px solid white; /* 枠線を追加 */
    border-radius: 14%;
}
    .dice-face.seven, .dice-face.eight, .dice-face.nine {
        width: 90%; /* サイズを90%に縮小 */
        height: 90%; /* サイズを90%に縮小 */
        position: absolute;
        bottom: 5%; /* 底部に配置 */
        left: 5%; /* 左から50%の位置に移動 */
        border-color: white; /* 赤い枠線で区別 */
        border-radius: 0%;
    }


.dot {
    width: calc(var(--dice-size)*0.2);
    height: calc(var(--dice-size)*0.2);
    background-color: black;
    border-radius: 50%;
    position: absolute;
    /*margin: calc(var(--dice-size)*0.1);*/
}
/* 1面の配置 */
.dice-face.one .dot {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--dice-size)*0.2);
    height: calc(var(--dice-size)*0.2);
    background-color: red;
}

/* 二面の配置 */
.dice-face.two .dot:first-child {
    left: 10%;
    top: 10%;
}

.dice-face.two .dot:last-child {
    right: 10%;
    bottom: 10%;
}


/* ３面の配置 */
.dice-face.three .dot:nth-child(1) {
    left: 10%;
    top: 10%;
}

.dice-face.three .dot:nth-child(2) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dice-face.three .dot:nth-child(3) {
    right: 10%;
    bottom: 10%;
}


/* 四面の配置 */
.dice-face.four .dot {
}

    .dice-face.four .dot:nth-child(1) {
        left: 10%;
        top: 10%;
    }

    .dice-face.four .dot:nth-child(2) {
        right: 10%;
        top: 10%;
    }

    .dice-face.four .dot:nth-child(3) {
        left: 10%;
        bottom: 10%;
    }

    .dice-face.four .dot:nth-child(4) {
        right: 10%;
        bottom: 10%;
    }

/* 五面の配置（四面の配置に中央のドットを追加） */
.dice-face.five .dot {
}

    .dice-face.five .dot:nth-child(1) {
        left: 10%;
        top: 10%;
    }

    .dice-face.five .dot:nth-child(2) {
        right: 10%;
        top: 10%;
    }

    .dice-face.five .dot:nth-child(3) {
        left: 10%;
        bottom: 10%;
    }

    .dice-face.five .dot:nth-child(4) {
        right: 10%;
        bottom: 10%;
    }

    .dice-face.five .dot:nth-child(5) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

/* 六面の配置 */
.dice-face.six .dot {
}

    .dice-face.six .dot:nth-child(odd) {
        left: 10%;
    }

    .dice-face.six .dot:nth-child(even) {
        right: 10%;
    }

    .dice-face.six .dot:nth-child(1), .dice-face.six .dot:nth-child(2) {
        top: 10%;
    }

    .dice-face.six .dot:nth-child(3), .dice-face.six .dot:nth-child(4) {
        top: 50%;
        transform: translateY(-50%);
    }

    .dice-face.six .dot:nth-child(5), .dice-face.six .dot:nth-child(6) {
        bottom: 10%;
    }




/* 個々の面の位置と向きを指定 */
.dice-face:nth-child(1) {
    transform: translateZ(calc(var(--dice-size)/2));
}
/* 前 */
.dice-face:nth-child(2) {
    transform: rotateY(90deg) translateZ(calc(var(--dice-size)/2));
}
/* 右 */
.dice-face:nth-child(3) {
    transform: rotateX(90deg) translateZ(calc(var(--dice-size)/2));
}
/* 後 */
.dice-face:nth-child(4) {
    transform: rotateX(-90deg) translateZ(calc(var(--dice-size)/2));
}
/* 左 */
.dice-face:nth-child(5) {
    transform: rotateY(-90deg) translateZ(calc(var(--dice-size)/2));
}
/* 上 */
.dice-face:nth-child(6) {
    transform: rotateX(180deg) translateZ(calc(var(--dice-size)/2));
}
/* 下 */
.dice-face:nth-child(7) {
   
    /*transform: rotateX(180deg) translateZ(calc(var(--dice-size)/2));*/
}
/* 下 */
.dice-face:nth-child(8) {
  
    transform: rotateX(90deg)
}
/* 下 */
.dice-face:nth-child(9) {
   
    transform: rotateY(90deg);
}

/* 下 */


.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: darkgreen;
    opacity: 0.4;
    z-index: -1;
}

.Polka_v2 {
    background-image: radial-gradient(green 2px, transparent 0px);
    background-size: 5px 5px;
}
